.single-service{
    border: 2px solid  rgb(8, 33, 25);;
    border-radius: 10px;
    padding-bottom: 7px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.single-service p{
margin: 15px 0px 0px 15px;
}