.nav-style{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.nav-logo h6{
    color: white;
    margin-top: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
   
}
.nav-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}